<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Praesentium, vel, officia ad quod ducimus 
    optio ea. Voluptas, ipsa, soluta, eius laborum iure voluptatum impedit ut 
    laboriosam aliquam beatae numquam cumque.
    </p>
</div>